extends layout
//note: intentation is needed for block
block content
  h1= title
  p Welcome to #{title}
  script(src='jquery-2.1.1.js')
  script(src='./jquery-ui-1.11.0/jquery-ui.js')
  script(src="login.js")
  form#login(name="login",method="get",action="/blogs/monitor.html",onsubmit="CheckUser")
    p UserName:
      input#txtUserName(name="txtUserName",type="text")
    p Password:
      input#txtPwd(name="txtPwd",type="password")
    p 
      input#btnLogin(name="subLogin",type="submit",value="submit")
    
  ul
    li
        a(href='/markdown.html') Markdown Demo page
    li
        a(href='/blogs/first.html') My First markdown blog
    li
        a(href='/blogs/monitor.html') Monitor项目说明

