extends layout
//note: intentation is needed for block
block content
  h1= title
  p Welcome to #{title}
  script(src='jquery-2.1.1.js')
  script(src='./jquery-ui-1.11.0/jquery-ui.js')
  script(src="login.js")
  
  div#digLogin(title="Please input username and password")
    form
      fieldset
        p UserName:
          input#txtUserName(type="text")
        p Password:
          input#txtPwd(type="password")
        p
          input(type="submit",tabindex="-1",style="position:absolute; top:-1000px")

  ul
    li
        a(href='/markdown.html') Markdown Demo page
    li
        a(href='/blogs/first.html') My First markdown blog
    li
        a(href='/blogs/monitor.html') Monitor项目说明

